<div class="mainContainer5">
  <footer class="footer">
    <div class="footer__first">
      <h2>Expresso</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod ab modi, autem vel laudantium fuga laboriosam sequi nobis nam culpa.</p>
      <div class="footer__first-icons">
  <i class="fa fa-instagram footer__first-icon" style="color: white; font-size: 1.2rem;"></i>
  <i class="fa fa-facebook footer__first-icon" style="color: white; font-size: 1.2rem;"></i>
  <i class="fa fa-twitter footer__first-icon" style="color: white; font-size: 1.2rem;"></i>
      </div>
    </div>
    <div class="footer__second">
      <h2>Timing</h2>
      <ul>
        <li>Monday : 9:00am-9:00pm</li>
        <li>tuesday : 9:00am-9:00pm</li>
        <li>wednesday : 9:00am-9:00pm</li>
        <li>thursday : 9:00am-9:00pm</li>
        <li>friday : 9:00am-9:00pm</li>
        <li>saturday : 11:00am-6:00pm</li>
        <li>sunday : Closed</li>
      </ul>
    </div>
 </footer>
</div>