 <nav class="mainContainer__navbar">
      <div class="mainContainer__navbar-brand">
        <h3>Expresso</h3>
      </div>
      <div class="mainContainer__navbar-link">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </nav>